@import "tailwindcss";

:root {
    --crimson: #B91327;
    --golden: #FF9F1C;
    --forest: #43604E;
    --platinum: #F5F5F5;
    --black: #262626;
    --grey: #D6D6D6;
}

#root {
    margin: 2%;
}


/* Typescale Values */
h1 {
    font-size: 2.986rem ;
}
h2 {
    font-size: 2.488rem ; 
}
h3 {
    font-size: 2.074rem ;
}
h4 {
    font-size: 1.728rem ; 
}
h5 {
    font-size: 1.44rem ; 
}
h6 {
    font-size: 1.2rem ; 
}
p {
    font-size: 1rem ;
}
small {
    font-size: 0.833rem ;
}
.tiny {
    font-size: 0.694rem ;
} 

button {
    cursor: pointer;
}



/* ------------- */
/* Navbar Styles */
/* ------------- */
.nav-container {
    align-items: center;
}

.nav-container h5 {
    font-family: "Caudex", serif;
    font-weight: 800;
}

.nav-options {
    font-family: "Figtree", sans-serif;
}





/* ------------- */
/* Signup Styles */
/* ------------- */
.auth {
    /* border: 1px solid red; */
    margin-left: 8rem;
    margin-right: 8rem;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /* align-items: center; */
}

.auth h3 {
    font-family: "Caudex", serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.auth-username {
    margin-bottom: 1rem;
}

.auth-password {
    margin-bottom: 2rem;
}

.auth-username input {
    border: 1px solid var(--grey);
    height: 2.5rem;
    border-radius: 5px;
    padding: 0.75rem;
}

.auth-password input {
    border: 1px solid var(--grey);
    height: 2.5rem;
    border-radius: 5px;
    padding: 0.75rem;
}

.auth-button-div button {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: var(--crimson);
    color: var(--platinum);
    border-radius: 5px;
}

.error small {
    color: #ff443a ;
}




/* ------------- */
/* Sheet Card Styles */
/* ------------- */
.sheet-card {
    border: 1px solid var(--grey);
    border-radius: 5px;
    max-width: 25%;
}

.sheet-card-options {
    border-top: 1px solid var(--grey);
}




/* ------------- */
/* Character Sheet Styles */
/* ------------- */
.character-sheet h2 {
    font-family: "Caudex", serif;
    font-weight: 600;
}

.character-sheet h3 {
    font-family: "Caudex", serif;
    font-weight: 600;
}

.character-sheets-stats div {
    width: 15%;
    padding: 0.5rem;
    background-color: var(--grey);
    color: var(--black);
    border-radius: 5px;
}
